* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

/*
----------------
reglas generales
y para celulares
----------------
*/

body {
  background: rgb(255, 255, 255);
  color: black;
  font-family: "trebuchet ms", helvetica, sans-serif;

  /* para que el footer quede abajo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

img {
  /* para que las imÃ¡genes nunca sean mayores que la caja que las contienen */
  max-width: 100%;
  height: auto;
}

.cont-logo {
  width: 40%;
}

.col-md-8{
  width: 60%;
}

.cont-logo img{
  max-width: 50%;
}

.card-body *{
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0;
}

.list-group-item{
  margin: 30px;
}

.result-img {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.result-img img{
  width: 50px;
}

ul {
  list-style: none;
}

/* hover bottom line */

.lineHov::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: ease-in-out width 1.3s;
}

.lineHov:hover::after {
  width: 100%;
  transition: width 1.3s;
}

.index-title{
  text-align: center;
  margin: 20px 0;
}

.sec-index{
  display: flex;
  justify-content: center;
}

.oculto{
  display: none;
}
.flex-box-r{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-box-c{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fa-solid{
  cursor: pointer;
}

header,
footer {
  background-color: #ffffff;
  height: 120px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ã­conos */

.material-icons {
  padding-left: .75em;
}

form .material-icons {
  padding-left: 0;
}

/* contenedor centrado y con ancho mÃ¡ximo */
.contenedora {
  width: min(100rem, 100%);
  margin: 0 auto;
  padding: 1em;
}

.itemContenedora{
  border-radius: 20px;
}

.contenedorLottie{
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 100vh;
}


/*
----------------
encabezado
----------------
*/

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  border-bottom: 5px solid black;
}

.itemContenedora{
  height: 50px;
  width: 20%;
  display: flex;
    justify-content: center;
}

nav.itemContenedora{
  width: 60%;

}

header .contenedora,
footer .contenedora {

  /* caja flexible */
  display: flex;

  /* si elementos no caben, van a la lÃ­nea inferior */
  flex-wrap: wrap;

  /* elementos colocados en los extremos del eje principal */
  justify-content: space-between;

  /* elementos centrados en el eje secundario */
  align-items: center;
  height: 120px;
}

header img,
footer img {
  display: block;
  width: 200px;
}

/* *** bÃºsqueda *** */

form {
display: flex;
flex-wrap: wrap;
position: relative;

}

input {
padding: .35em;
background: rgba(255, 255, 255, 0.25);
}

input:focus {
  background: white;
}

header ::placeholder {
  color: rgb(0, 0, 0);
}

form button { padding: .25em;}



/* *** menu *** */

.menuIndex ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

header nav {
  color: white;
}

header nav a {
  color: black;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 190px;
}

header nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  margin-top: 15px;
  transition: width .3s;
}

header nav a:hover::after {
  width: 100%;
  transition: width .3s;
}

header nav ul li {
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
}

/* boton que llama al menu */

#llamamenu,
form button {
  background-color: rgba(200, 255, 255, 0.125);
  color: white;
  cursor: pointer;
  height: 30px;
  width: 2.5em;
  border-radius: 30px;
  /* caja flexible */
  display: flex;
  align-items: center;
  justify-content: center;
}

form.itemContenedora{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 30px;
}



/* *** main *** */

.main-container{
  display: flex;
  justify-content: center;
}

#main h1{
  text-align: center;
}

section {
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  transition: border 1s ease, padding .8s ease-in, color .6s ease-in;
  gap: 1em;
}

section h2 {
  padding-bottom: .25em;
  width: 100%;
  text-align: center;
}

article {
  width: 200px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: .25em;
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: all .6s ease;
}


#pelisTopRated article a,
#pelisPopulares article a,
#seriesPopulares article a,
.detalleGenero article a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article:hover,
#pelisTopRated article:hover {
  background: rgb(159 159 159 / 85%);
  transition: all .3s ease;
}

#discos article a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

article a {
  color: white;
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

article:hover a {
  color: white;
}



article img {
  border: solid 4px #c3c3c3;
    box-shadow: -13px 3px 14px 6px rgb(0 0 0 / 25%);
    object-fit: cover;
    display: block;
}

#artistas img {
  border-radius: 50%;
}

.detalleGenero #artistas img {
  border-radius: unset;
}

.tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clave {
  color: #000000;
    font-size: 35px;
    font-style: oblique;
    font-weight: inherit;
}


/* *** pie *** */


footer img:last-of-type {
  width: 6em;
}

footer p {
  text-align: right;
  margin-left: auto;
  width: clamp(12em, 60%, calc(100% - 11em));
}

/* generos */

.generos,
.playlist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#generos,
.playlist > section {
  flex-grow: 1;
}

#generos article {
  padding: 0;
}

#generos article a {
  display: block;
  position: relative;
}

#generos article a h3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all .6s ease;
  padding: 1em;
}

#generos article:hover a h3 {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  transition: all .3s ease;
}

/* Detalle-cancion */

.play-control{
  width: 300px;
  justify-content: space-evenly;
}

#trackDisco h2,
#tracksAlbum h2 {
  width: max(10rem, 40%);
}


#tracksAlbum h2 ul,
#tracksAlbum h2 ul li {
  width: 100%;
  display: block;
}

.detallePeli a,
.detalleSerie a,
.detalleArtista a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 3px;
  padding: 5px 10px;
  text-decoration: none;
}

.detallePeli a:hover,
.detalleSerie a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#paraPlaylist span {
  font-size: smaller;
  vertical-align: middle;
}

#paraPlaylist a {
  background: rgba(255, 255, 255, .1);
  border-radius: 4px;
  padding: .25em .5em;
}

#paraPlaylist a:hover {
  background: rgba(255, 255, 255, .2);
}

#paraPlaylist a:last-child {
  width: max(10rem, 40%);
}

#player {
  flex-wrap: wrap;
  justify-content: space-between;
}
#player > * {
  width: max(40%, 10rem);
}
#player * { max-width: 100%;}


.detalleAlbum,
.detalleTrack {
  display: flex;
  flex-direction: column;
}
.detalleTrack,
.detalleAlbum #player,
.detalleTrack #player { flex-grow: 1; }
.detalleAlbum #player {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.detalleAlbum #player article {
  width: max(10em, 45%);
}
.detalleAlbum #player > h2 {
  width: 100%;
}


/* playlist */

.video-i{
  width: 900px;
  height: 400px;
}













/* Detalle artista */

.img-artista{
  max-width: 400px;
  height: auto;
}

#filtro h2 button {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  cursor: pointer;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: .5rem 0;
  width: max(25%, 4rem);
  transition: all .6s ease;
}
#filtro h2 button:hover {
  background: rgba(255, 255, 255, 0.35);
}
#filtro h2 button.actual {
  background: white;
  color: darkcyan;
  transition: all .3s ease;
}

article.circulo {
  background: rgba(0, 0, 0, .25);
}
article.circulo:hover {
  background: rgba(255, 255, 255, .75);
}
.busqueda article.circulo a {
  align-items: center;
}
.circulo img {
  border-radius: 50%;
}

/* playlist */

.playlist {
  display: flex;
  flex-direction: column;
}
.playlist section {
  flex-grow: 1;
}

.playlist article {
  width: max(30%, 10rem);
}

.playlist section.nada article {
  flex-grow: 0;
  margin: auto;
  text-align: center;
}

.playlist article h2 {
  flex-grow: 1;
}

.playlist article a {
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.playlist article a img {
  width: max(40%, 5rem);
}

/* List especial */

ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */

.li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 5px;
  width: 950px;
  justify-content: space-between;
  text-align: center;
  
}

.li:hover {
  background: #f4f4f4;
}


/* CSS */
.btn-special {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-special:hover {
  background-color: rgb(249,250,251);
}

.btn-blue:hover {
  background-color: rgb(64, 151, 238);
  color: white;
}

.btn-red:hover {
  background-color: rgb(187, 53, 53);
  color: white;

}

.btn-special:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-special:focus-visible {
  box-shadow: none;
}

.btns-movies{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-movies form button{
  width: 100px;
  height: auto;
}

/* Element counter */
.li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 2rem;
  width: 150px;
  text-align: left;
  font-weight: bold;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, #18d860, #d70303);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
.li + .li {
  border-top: 1px solid black;
}

.li a{
    text-decoration: none;
    color: #000000;
}


@media (max-width:420px) {
  #header, #header .contenedora{
      height: 350px;
      flex-direction: column;
      justify-content: flex-start;
  }

  #header{
      position: unset;
      
  }

  #footer{
      height : 300px;
  }

  .menuIndex{
      height : 200px;
  }

  .menuIndex ul{
      flex-direction: column;
  }

  #header nav a {
      justify-content: center;
  }

  #header nav a {
      padding: 10px 0px;
      
  }

  section h2 {
      text-align: center;
  }

  .sectionMusica article {
      width: 200px;  
      background: rgba(255, 255, 255, 0.35);
      justify-content: center;
      align-items: center;
     
  }

  .img-artista {
      max-width: 200px;
     
  }


     
}
