<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <% if (locals.user != undefined ) { %>
      <%- include('./partials/headerLogueado') %>
  <% } else { %>
      <%- include('./partials/header') %>
 <% } %>
 
    <main class="container main-container">

      <!-- Formulario de Registro -->

      <form class="form" action="/users/login" method="POST" >
        <div class="title">Ingresar</div>
     
        <div class="input-container ic1">
            <input id="email" class="input" type="email" name="email" placeholder="email" />
        </div>

        <div class="input-container ic1">
            <input id="password" class="input" type="password" name="password" placeholder="Clave" />
        </div>

        <div class="input-container ic1">
          <input type="checkbox" name="rememberme" id="rememberme">
          <label for="rememberme" style="color: white;"> Recordarme</label>
        </div>
       
        <button type="text" class="submit">Ingresar</button>
      </form>
    </main>
  </body>
</html>