<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <% if (locals.user != undefined ) { %>
      <%- include('./partials/headerLogueado') %>
  <% } else { %>
      <%- include('./partials/header') %>
 <% } %>
    <main class="container main-container">
     
       
          
            <!-- Formulario de Registro -->

            <form class="form" action="/movies/register" method="POST">
              <div class="title">Crear Pelicula</div>
              <div class="input-container ic1">
                <input id="title" class="input" type="text" name="title" placeholder="Titulo" />
              </div>
              <div class="input-container ic2">
                <input id="rating" class="input" type="number" name="rating" placeholder="Rating" min="0" max="10"/>
              </div>
              <div class="input-container ic2">
                <input id="lastname" class="input" type="number" name="awards" placeholder="Pres" min="0" max="100" />
              </div>
              <div class="input-container ic2">
                  <input id="duracion" class="input" type="number" name="length" placeholder="Duración en Min" min="10" max="250" />
              </div>
                <div class="input-container ic2">
                  <select class="seleccion" name="genre_id" id="genero">
                      <option value="1" selected>Comedia</option>
                      <option value="2">Terror</option>
                      <option value="3">Drama</option>
                      <option value="4">Accion</option>
                  </select>
                </div>
              <button type="text" class="submit">Guardar</button>
  
  
            </form>
            

      
    </main>
  </body>
</html>